$primaryFont: 'Montserrat', sans-serif;
$secondaryFont: 'Raleway', sans-serif;

.guild-selection {
  font-family: $primaryFont;
  cursor: default;
  h2 {
    color: #81818a;
    font-size: 1.6em;
    font-weight: 300;
    width: 100%;
    .text {
      width: 100%;
    }
    span {
      margin-left: 6px;
      font-weight: 300;
      color: #e12161;
    }
  }
  ul {
    display: none;
    width: 100%;
    height: 0%;
    padding-left: 8px;
    text-align: left;
    list-style: none;
    color: #81818a;
    font-size: 1.4em;
    font-weight: 300;
    transform: scaleY(0);
    transition: height 200ms ease, transform 200ms ease, background-image 200ms ease;;
    &.hovered {
      display: inline-block;
      height: 100%;
      transform: scaleY(1);
      transition: height 200ms ease, transform 200ms ease;
    }
    li {
      text-align: center;
      transition: text-align 200ms ease, background-image 200ms ease;
      &:hover{
        background-image: linear-gradient(60deg, #21212a, #31313a);
        transition: text-align 200ms ease, background-image 200ms ease;
      }
    }
  }
}