.sidepanel {
  display: flex;
  flex-direction: column;
  flex-flow: column;
  width: 20%;
  background-color: #11111a;

  @media screen and (max-width: 1280px) {
    width: 30%;
    transition: width 200ms ease;
  }
  @media screen and (max-width: 1080px) {
    width: 35%;
    transition: width 200ms ease;
  }
  @media screen and (max-width: 764px) {
    width: 100%;
    transition: width 200ms ease;
  }
}