@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,1000|Raleway:400,700');

$primaryFont: 'Montserrat', sans-serif;
$secondaryFont: 'Raleway', sans-serif;

body {
  background: linear-gradient(45deg, #212128, #11111a);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.dashboard {
  display: flex;
  height: 100%;
  width: 100%;
  
  .container {
    display: flex;
    align-items: center;
    flex-flow: column;
    flex-direction: column;
    // flex-basis: auto;
    margin: auto;
    width: 80%;
    height: 100vh;
    
    .header {
      display: block;
      width: 50%;
      margin: auto;
      margin-top: 24px;
      margin-bottom: 64px;
      padding-top: 6px;
      padding-bottom: 12px;
      font-family: $primaryFont;
      text-align: center;
      border-bottom: 2px solid #e1e1ea;
      color: aliceblue;
      background-color: #11111a;
      font-family: $primaryFont;
      sub {
        font-size: 2em; 
        color: #f1f1f188;
      }
    }
    .panel {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
      margin: 0 auto;
      background-color: #43435388; 
      $border-edge: 1px solid aliceblue;
      border-left: $border-edge;
      border-right: $border-edge;
      align-items: left;
      flex-flow: row;
      flex-direction: row;
      flex-basis: auto;
    }
  }
}




