$primaryFont: 'Montserrat', sans-serif;
$secondaryFont: 'Raleway', sans-serif;

.categories {
  display: flex;
  flex-flow: column;
  flex-direction: column;
  align-items: left;
  height: 100%;
  width: 100%;
  @media screen and (max-width: 1024) {
    width: 40%;

  }
  .list-adder {
    margin-top: 24px;
    width: 100%;
    input {
      width: 80%;
      margin: auto;
      // margin-left: 8px;
      // margin-right: 8px;
      border-radius: 8px;
      padding-left: 8px;
      padding-top: 8px;
      padding-bottom: 8px;
      border: 1px solid #21212a;
      background-color: #11111a;
      color: #c1c1c1;
      font-family: $primaryFont;
      font-size: 24px;
      transition: border 600ms ease;
      &::placeholder {
        color: #31313a;
      }
      &:focus {
        // border: 0;
        border-bottom: 1px solid #51515a;
        outline: 0;
        transition: border 200ms ease;
      }
    }
  }
  header {
    width: 80%;
    height: 80px;
    margin: 0 auto;
    border-bottom: 2px solid #21212a;
    h2 {
      font-family: $secondaryFont;
      font-size: 2em;
      font-weight: 400;
      text-transform: uppercase;
      margin-bottom: 0;
      color: #e1e1fa;
    }
  }
  .list {
    width: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-color: none;
    &::-webkit-scrollbar {
      background: none;
    }
    &::-webkit-scrollbar-thumb {
      background: #21212a;
    }
    &::-webkit-scrollbar-track {
      background: none;
    }
    ul {
      text-align: left;
      width: 80%;
      margin: 12px auto;
      padding-left: 0;
      background-color: inherit;
      text-align: left;
      list-style: none;
      
      li {
        // display: flex;
        // flex-direction: row;
        // flex-flow: row;
        // align-items: flex-start;
        opacity: 1;
        padding-left: 8px;
        padding-top: 4px;
        // padding-bottom: 4px;
        margin: auto;
        margin-bottom: 4px;
        height: 32px;
        width: 100%;
        border: 0;
        transform: scale(1);
        transition: background-color 200ms ease, border-radius 200ms ease, transform 200ms ease;
        &:hover:not(.on-drag):not(.on-drag-over-upper-elements):not(.on-drag-over-lower-elements) {
          background-image: linear-gradient(60deg, #21212a, #31313a);
          border-radius: 2px;
          transition: background-color 200ms ease, border-radius 200ms ease, transform 200ms ease;
        }
        &.on-drag {
          opacity: 0.5;
          border-radius: 0px;
          background-color: none !important;
          // transform: scale(0.95);
          transition: background-color 200ms ease, border-radius 200ms ease, transform 200ms ease;
        }
        &.on-drag-over-upper-elements {
          border-top: 2px solid #21cc42;
        }
        &.on-drag-over-lower-elements {
          border-bottom: 2px solid #21cc42;
        }
        input[type='text'].category-name {
          font-family: $secondaryFont;
          font-weight: 400;
          width: 70%;
          float: left;
          font-size: 1.2em;
          background: none;
          border: 0;
          border-bottom: 1px solid #41414e00;
          outline: none;
          cursor: default;
          color: #a1a1ae;
          transition: border-bottom 200ms ease;
          &:focus {
            border-bottom: 1px solid #41414e;
            transition: border-bottom 200ms ease;
          }
        }
        .controls {
          float: right;
          height: 100%;
          padding-top: 4px;
          padding-bottom: 4px;
          width: 20%;
          // margin-bottom: 12px;
          button.controls-delete {
            font-family: $secondaryFont;
            font-size: 32px;
            height: 100%;
            background: none;
            border: none;
            border-radius: 8px;
            outline: none;
            color: #b12131;
            transition: background-color 200ms ease, color 200ms ease;
            &:hover {
              background-color: #b12131;
              color: #a1a1a1;
              transition: background-color 200ms ease, color 200ms ease;
            }
          }
        }
      }
    }
  }
}