$primaryFont: 'Montserrat', sans-serif;
$secondaryFont: 'Raleway', sans-serif;

.logo {
  width: 100%;
  margin-top: 32px;
  margin-bottom: 32px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: left;
  font-family: $secondaryFont;
  font-weight: 100;
  color: #f1f1fe;
  header {
    width: 224px;
    border-radius: 12px;
    border: 1px solid #91919e;
    h1 {
      margin-top: 8px;
      margin-bottom: 8px;
      text-align: center;
      font-weight: 100%;
      color: #f0f8ff;
    }
  }
}