@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

.landpage {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url('./images/Landpage.png');
  background-repeat:no-repeat;
  background-size: cover;
}

.landpage .header {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: -120px;
    height: 420px;
    width: 820px;
    align-items: center;
    color: aliceblue;
    text-transform: uppercase;
    background: linear-gradient(-45deg, #EE7752AA, #E73C7EAA, #23A6D5AA, #23D5ABAA); 
    background-size: 200% 200%;
    border: rgba(255, 0, 152, 0.3) solid 2px;
    animation: Gradient 15s ease infinite;
    border-radius: 8px;

    @keyframes Gradient {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
}

.landpage .header header {
  margin: auto;
}

.landpage .header h1 {
  font-family: 'Open Sans';
  align-content: flex-start;
  align-self: flex-start;
  align-items: flex-start;
  height: 80%;
  height: 100%;
  width: 100%;
  margin-bottom: 20px;
  letter-spacing: 8px;
  font-size: 8em;
  font-weight: 300;
}

.landpage .header button {
  font-family: 'Open Sans';
  height: 20%;
  border: 0;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 6px;
  padding-top: 6px;
  font-size: 40px;
  font-weight: 300;
  text-transform: uppercase;
  color: white;
  background-color: transparent;
  border: #099FFF solid 1px;
  animation: BorderColor 15s ease infinite;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: padding 0.3s;

  &:active {
    transition: padding 0.3s;
  }
  &:hover {
    padding-left: 110px;
    padding-right: 110px;
    padding-top: 8px;
    padding-bottom: 8px;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: padding 0.3s;
  }

  @keyframes BorderColor {
    0% {
      border-color: #EE7752AA;
    }
    16% {
      border-color: #E73C7EAA;
    }
    32% {
      border-color: #23A6D5AA;
    }
    64% {
      border-color: #23D5ABAA;
    }
    80% {
      border-color: #23A6D5AA;
    }
    100% {
      border-color: #E73C7EAA;
    }
  }
}